@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}

<style>
    .admin-profile-info {
    color: #434343;
    margin-top: 20px;
    }

    .new-room {
        text-align: right;
        margin-top: 45px;
    }
	.name-profile-inp{
		display: inline-block;
		width: 50px;
	}

	.email-profile-inp{
		display: block;
		width: 100px;
	}

    .password-profile-inp{
		display: block;
		width: 100px;
	}

	.form input{
		margin: 10px;
		height: 45px;
	}

</style>


<div class="row">
    <div class="admin-profile-info col-xs-12 col-sm-6">
        <h3>@User.Identity.Name<span>Admin</span></h3>
        <h5>@ViewBag.User.Email</h5>
        <button class="btn-lg">Редактировать</button>



        @using (Ajax.BeginForm("ChangeNameAndEmail", "Account", new AjaxOptions { OnSuccess = "ChangeNameOnSuccess" }))
        {
            <div class="form">
                <form action="POST">
                    @Html.TextBox("fname", "", new {@class = "name-profile-inp", @minlength = "5", @placeholder = User.Identity.Name.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[0] })
                    @Html.TextBox("sname", "", new { @class = "lname-profile-inp", @minlength = "5", @placeholder = User.Identity.Name.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[1] })
                    @Html.TextBox("email", "", new { @class = "email-profile-inp", @minlength = "5", @placeholder = ViewBag.User.Email })
                    @Html.TextBox("password", "", new { @type = "password", @class = "password-profile-inp", @minlength = "5", @placeholder = "Пароль" })
                    <span>
                        <button class="btn-lg">Отменить</button>   
                        <button type="submit" class="btn-lg">Сохранить</button>
                    </span>
                    <div id="changingNameResult" class="text-danger"></div>

                </form>
            </div>
        }

    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="new-room">
            <button class="btn-lg">Новая комната</button>
            <button class="btn-lg">Сменить пароль</button>

            @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { OnSuccess = "ChangePassOnSuccess" }))
            {
                <div class="form">
                    <form action="POST">
                        @Html.TextBox("oldPass", "", new { @type = "password", @class = "password-profile-inp", @minlength = "5",@placeholder = "Пароль" })
                        @Html.TextBox("newPass", "", new { @type = "password", @class = "password-profile-inp", @minlength = "5",@placeholder = "Новый пароль" })
                        @Html.TextBox("newPassConfirm", "", new { @type = "password", @class = "password-profile-inp", @minlength = "5", @placeholder = "Повторить новый пароль" })
                        <span>
                            <button class="btn-lg">Отменить</button>
                            <button type="submit" class="btn-lg">Сохранить</button>
                        </span>


                    </form>
                </div>
            }
        </div>
    </div>

</div>

<script>
    function ChangeNameOnSuccess(data) {
        if (data == 'OK') {
            // data.redirect contains the string URL to redirect to
            window.location.href = '@Url.Action("Index", "Home")';
        }
        else {
            // data.form contains the HTML for the replacement form
            $("#changingNameResult").replaceWith(data);
        }
    }

    function ChangePassOnSuccess(data) {
        if (data == 'OK') {
            // data.redirect contains the string URL to redirect to
            window.location.href = '@Url.Action("Index", "Home")';
        }
        else {
            // data.form contains the HTML for the replacement form
            $("#changingPassResult").replaceWith(data);
        }
    }
</script>