@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="admin-profile-info col-xs-12 col-sm-6">
        <div id="profile-info-container">
            <h3>@User.Identity.Name<span style="display: none;">Admin</span></h3>
            <h5>@ViewBag.User.Email</h5>
            <button class="btn-lg" id="name-changing-button">Редактировать</button>
        </div>

        <div id="name-changing-form-container">
            @using (Ajax.BeginForm("ChangeNameAndEmail", "Account", new AjaxOptions {OnSuccess = "ChangeNameOnSuccess"}))
            {
                <div class="cabinet-form">
                    <form action="POST">
                        @Html.TextBox("fname", "", new {@class = "name-profile-input", @minlength = "5", @placeholder = User.Identity.Name.Split(new char[] {' '}, StringSplitOptions.RemoveEmptyEntries)[0]})
                        @if (User.Identity.Name.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries).Length > 1)
                        {
                            @Html.TextBox("sname", "", new { @class = "name-profile-input", @minlength = "5", @placeholder = User.Identity.Name.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[1] })
                        }
                        else
                        {
                            @Html.TextBox("sname", "", new { @class = "name-profile-input", @minlength = "5" })
                        }
                        @Html.TextBox("email", "", new {@class = "email-profile-input", @minlength = "5", @placeholder = ViewBag.User.Email})
                        @Html.TextBox("password", "", new {@type = "password", @class = "password-profile-field", @minlength = "5", @placeholder = "Пароль"})
                        <div class="text-validate-msg"><div id="changingNameResult"></div></div>
                        <div class="name-changing-buttons-container">
                            <button id="name-changing-button-cancel" class="btn-lg">Отменить</button>   
                            <button type="submit" class="btn-lg">Сохранить</button>
                        </div>
                    </form>
                </div>
            }
        </div>

    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="new-room">
            <div id="change-pass-buttons-container">
                <button class="btn-lg" style="display: none;">Новая комната</button>
                <button id="pass-changing-button" class="btn-lg">Сменить пароль</button>
            </div>
            <div id="pass-changing-form-container">
                @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions {OnSuccess = "ChangePassOnSuccess"}))
                {
                    <div class="cabinet-form">
                        <form action="POST">
                            @Html.TextBox("oldPass", "", new {@type = "password", @class = "password-profile-field", @minlength = "5", @placeholder = "Пароль"})
                            @Html.TextBox("newPass", "", new {@type = "password", @class = "password-profile-field", @minlength = "5", @placeholder = "Новый пароль"})
                            @Html.TextBox("newPassConfirm", "", new {@type = "password", @class = "password-profile-field", @minlength = "5", @placeholder = "Повторить новый пароль"})
                            <div>
                                <button id="pass-changing-button-cancel" class="btn-lg">Отменить</button>
                                <button type="submit" class="btn-lg">Сохранить</button>
                            </div>


                        </form>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<script>
    function ChangeNameOnSuccess(data) {
        if (data == 'OK') {
            // data.redirect contains the string URL to redirect to
            window.location.href = '@Url.Action("Index", "Home")';
        }
        else {
            // data.form contains the HTML for the replacement form
            $("#changingNameResult").replaceWith(data);
        }
    }

    function ChangePassOnSuccess(data) {
        if (data == 'OK') {
            // data.redirect contains the string URL to redirect to
            window.location.href = '@Url.Action("Index", "Home")';
        }
        else {
            // data.form contains the HTML for the replacement form
            $("#changingPassResult").replaceWith(data);
        }
    }

    $('#name-changing-form-container').hide();
    $('#name-changing-button').click(function() {
        $('#name-changing-form-container').slideDown("slow");
        $('#profile-info-container').slideUp("slow");
    });
    $('#name-changing-button-cancel').click(function () {
        $('#name-changing-form-container').slideUp("slow");
        $('#profile-info-container').slideDown("slow");
    });


    $('#pass-changing-form-container').hide();
    $('#pass-changing-button').click(function () {
        $('#pass-changing-form-container').slideDown("slow");
        $('#change-pass-buttons-container').slideUp("slow");
    });
    $('#pass-changing-button-cancel').click(function () {
        $('#pass-changing-form-container').slideUp("slow");
        $('#change-pass-buttons-container').slideDown("slow");
    });

</script>