@{
    ViewBag.Title = "Home Page";
}

<div class="container header-image">
    <div class="row">
        <div class="col-xs-12">
            <div class="reserve-form">
                <h2>Забронировать комнату</h2>
                <div>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Номер комнаты">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Обзор</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Расписание</h3>
            <h4 id="forCurrentDate">@String.Format("На  {0}  {1}  {2}", DateTime.Now.Day, DateTime.Now.Month, DateTime.Now.Year) </h4>
        </div>
        <div class="col-sm-6 text-right">
            <h6>
                Календарь
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" id="hideCal">Скрыть</button>
                    <button type="button" class="btn btn-default" id="showCal">Показать</button>
                </div>
            </h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9" id="diagram">
            <div id="content">
                Загрузка...
            </div>
        </div>
            <div class="col-sm-3 text-right cal">
                <div style="overflow: hidden;">
                    <div class="form-group">
                        <div class="row">
                            <div id="datetimepicker12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <input type="hidden" id="forCurrentYear" >
    <input type="hidden" id="forCurrentMonth" >
    <input type="hidden" id="forCurrentDay" >

    <script>
            $(function() {
                $('[data-toggle="popover"]').popover({
                    html: true
                });
            })
    </script>

    <script type="text/javascript">
        @*$(window).load(function () {
                var year = @DateTime.Now.Year;
                var month = @DateTime.Now.Month;
                var day = @DateTime.Now.Day;

                var model = {
                    Year: year,
                    Month: month,
                    Day: day
                };

                $.ajax({
                    type: "POST",
                    data: model,
                    dataType: "html",
                    url: '@Url.Action("Reservations", "Home")'
                }).done(function (result) {
                    $('#content').html(result);
                });
            });*@

        $(function () {
            $('#datetimepicker12').on("changeDate", function (e) {
                var day = e.date.getDate();
                var month = e.date.getMonth() + 1;
                var year = e.date.getFullYear();

                $('#forCurrentDate').html('На  ' + day + '  ' + month + '  ' + year);
                
                $('#forCurrentYear').val(year);
                $('#forCurrentMonth').val(month);
                $('#forCurrentDay').val(day);
                debugger;
                var model = {
                    Year: year,
                    Month: month,
                    Day: day
                };

                $.ajax({
                    type: "POST",
                    data: model,
                    dataType: "html",
                    url: '@Url.Action("Reservations", "Home")'
                }).done(function (result) {
                    $('#content').html(result);
                });
            });
        });
    </script>
</div>

@Html.Partial("~/Views/Shared/Rooms.cshtml")