@using Microsoft.AspNet.Identity
@using GreenHouse.Domain.Entities;
@using GreenHouse.WebUI.Infrastructure;
@{
    ViewBag.Title = "Reservations";
}
@model Dictionary<Room, IEnumerable<Reservation>>

@*@Scripts.Render("~/bundles/modernizr")*@

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <a id="previous-column" href="#"><h4><</h4></a>
                <div class="time-table">
                    <table class="time">
                        @for (int t = ViewBag.BeginHour; t <= ViewBag.EndHour; t++)
                        {
                            <tr>
                                <td class="cell">@t<span>:00</span></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="table-container">
                    <table class="table sliding-window table-header">
                        <tr>
                            @foreach (var room in Model.Keys)
                            {
                                <td><span>K. @room.Number </span></td>
                            }
                        </tr>
                    </table>

                    <table class="table sliding-window" id="resTable">

                        @for (int hour = ViewBag.BeginHour; hour < ViewBag.EndHour; hour++)
                        {
                            <tr>
                                @foreach (var item in Model)
                                {
                                    var res = item.Value.Where(a => a.BeginTime.Hour == hour);

                                    if (res.Count() > 0)
                                    {
                                        if (res.First().Purpose == null && res.First().AspNetUser.IsAdmin())
                                        {
                                            <td class="diagram-cell" data-room-id="@item.Key.Id" data-begin-hour="@hour" style="background-color:#d6dddb">
                                       
                                                @if (ViewBag.Date.AddHours(hour) > DateTime.Now && Request.IsAuthenticated && String.Compare(User.Identity.Name, res.First().AspNetUser.UserName, true) == 0)
                                                {
                                                    <span data-toggle="popover" style="color: #000000" title="" data-content="
                                                    <div class='custompopover'>
                                                        <span><img src='~/../Content/images/icon-unlock-grey.png'>
                                                        <a id='delBlock'>Разблокировать</a></span>
  
                                                        </div>">
                                                        <img src='~/Content/images/icon-lock-grey.png'>
                                                </span>
                                                }
                                                else
                                                {
                                                    <img src='~/Content/images/icon-lock-grey.png'>
                                                }    
                                            </td>
                                        }
                                        else
                                        {
                                            if (Request.IsAuthenticated && String.Compare(User.Identity.Name, res.First().AspNetUser.UserName, true) == 0)
                                            {
                                                <td class="diagram-cell" data-room-id="@item.Key.Id" data-begin-hour="@hour" style="background-color:#ffe400">
                                                    <span data-toggle="popover" style="color: #000000" title="" data-content="
                                                    <div class='custompopover'>
                                                @res.First().Purpose <br/>
                                                @if (ViewBag.Date.AddHours(hour) > DateTime.Now)
                                                {
                                                    <a id='delReserv'>Отменить</a>
                                                }
                                                </div>">
                                                        @if (res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries).Length > 1)
                                                        {
                                                            if (res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[0].Length > 11)
                                                            {
                                                                @String.Format("{0}{1}", res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[0].Substring(0, 8), "..");
                                                            }
                                                            else
                                                            {
                                                                @res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[0];
                                                            }
                                                            <br />
                                                            if (res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[1].Length > 11)
                                                            {
                                                                @String.Format("{0}{1}", res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[1].Substring(0, 8), "..");
                                                            }
                                                            else
                                                            {
                                                                @res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[1];
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @res.First().AspNetUser.UserName;
                                                        }
                                               </span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="diagram-cell" data-room-id="@item.Key.Id" data-begin-hour="@hour">
                                                    <span data-toggle="popover" title="" data-content="
                                                    <div class='custompopover'>
                                                    <img src='~/../Content/images/icon-user-grey.png'>
                                                @res.First().AspNetUser.UserName<br/>@res.First().Purpose<br />
                                                @if (ViewBag.Date.AddHours(hour) > DateTime.Now && User.IsInRole("admin"))
                                                {
                                                    <a id='delReserv'>Отменить</a>
                                                }
                                                        
                                                </div>">
                                                @if (res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries).Length > 1)
                                                {
                                                    if (res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[0].Length > 11)
                                                    {
                                                        @String.Format("{0}{1}", res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[0].Substring(0, 8), "..");
                                                    }
                                                    else
                                                    {
                                                        @res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[0];
                                                    }
                                                    <br />
                                                    if (res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[1].Length > 11)
                                                    {
                                                        @String.Format("{0}{1}", res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[1].Substring(0, 8), "..");
                                                    }
                                                    else
                                                    {
                                                        @res.First().AspNetUser.UserName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries)[1];
                                                    }
                                                }
                                                else
                                                {
                                                    @res.First().AspNetUser.UserName;
                                                }

                                                </span>
                                                </td>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        <td style="padding: 0;" class="cell" data-room-id="@item.Key.Id" data-begin-hour="@hour">
                                            @if (Request.IsAuthenticated && ViewBag.Date.AddHours(hour) > DateTime.Now)
                                            {
                                                <div style="height: 100%;" tabindex="0" data-toggle="popover" data-content="<div class='custompopover'><h6>Цель:</h6>
                                                <textarea id='purpose' autofocus cols=31 maxlength=50 rows=3></textarea>
                                                @if (User.IsInRole("admin"))
                                                {
                                                    <button id='addBlock'><img src='~/Content/images/icon-lock-grey.png'></button>
                                                }

                                                    <button id='reservate'>Бронировать</button> </div>">
                                                    <span>
                                                <img style="padding: 12px" class="icon-add-new-event" src='~/Content/images/icon-add-new-event.png'>
                                                </span>
                                                </div>
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="col-sm-1">
                <a id="next-column" href="#"><h4>></h4></a>
            </div>
        </div>
    </div>


<script>
    $(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    })
    
    $(function () {
        $("#resTable").delegate('#reservate', 'click', function () {
            var roomId = $("#reservate").closest("td").data("roomId");            
            var beginHour = $("#reservate").closest("td").data("beginHour");
            var year = $('#forCurrentYear').attr('value');
            var month = $('#forCurrentMonth').attr('value');
            var day = $('#forCurrentDay').attr('value');
            
            var model = {
                roomId: roomId,
                year: year,
                month: month,
                day: day,
                beginHour: beginHour,
                purpose: $("#purpose").val()
            };
            
            $.ajax({
                type: "POST",
                data: model,
                dataType: "html",
                url: '@Url.Action("AddReservation", "Home")'
            }).done(function (result) {
                var model2 = {
                    year: year,
                    month: month,
                    day: day
                };
               
                $.ajax({
                    type: "POST",
                    data: model2,
                    dataType: "html",
                    url: '@Url.Action("Reservations", "Home")'
                }).done(function (result) {
                    $('#content').html(result);
                });

                $('#forCurrentDate').html('На  ' + day + '.' + month + '.' + year);
            });           
        });
    });

     $(function () {
        $("#resTable").delegate('#delReserv', 'click', function () {
            var roomId = $("#delReserv").closest("td").data("roomId");
            var beginHour = $("#delReserv").closest("td").data("beginHour");
            var year = $('#forCurrentYear').attr('value');
            var month = $('#forCurrentMonth').attr('value');
            var day = $('#forCurrentDay').attr('value');
            debugger;
            var model = {
                roomId: roomId,
                year: year,
                month: month,
                day: day,
                beginHour: beginHour,
            };
            
            $.ajax({
                type: "POST",
                data: model,
                dataType: "html",
                url: '@Url.Action("DelReservation", "Home")'
            }).done(function (result) {
                var model2 = {
                    year: year,
                    month: month,
                    day: day
                };
               
                $.ajax({
                    type: "POST",
                    data: model2,
                    dataType: "html",
                    url: '@Url.Action("Reservations", "Home")'
                }).done(function (result) {
                    $('#content').html(result);
                });

                $('#forCurrentDate').html('На  ' + day + '.' + month + '.' + year);
            });           
        });
     });
    ////
    $(function () {
        $("#resTable").delegate('#addBlock', 'click', function () {
            var roomId = $("#addBlock").closest("td").data("roomId");
            var beginHour = $("#addBlock").closest("td").data("beginHour");
            var year = $('#forCurrentYear').attr('value');
            var month = $('#forCurrentMonth').attr('value');
            var day = $('#forCurrentDay').attr('value');

            var model = {
                roomId: roomId,
                year: year,
                month: month,
                day: day,
                beginHour: beginHour,
            };

            $.ajax({
                type: "POST",
                data: model,
                dataType: "html",
                url: '@Url.Action("AddBlock", "Home")'
            }).done(function (result) {
                var model2 = {
                    year: year,
                    month: month,
                    day: day
                };

                $.ajax({
                    type: "POST",
                    data: model2,
                    dataType: "html",
                    url: '@Url.Action("Reservations", "Home")'
                }).done(function (result) {
                    $('#content').html(result);
                });

                $('#forCurrentDate').html('На  ' + day + '.' + month + '.' + year);
            });
        });
    });

    $(function () {
        $("#resTable").delegate('#delBlock', 'click', function () {
            var roomId = $("#delBlock").closest("td").data("roomId");
            var beginHour = $("#delBlock").closest("td").data("beginHour");
            var year = $('#forCurrentYear').attr('value');
            var month = $('#forCurrentMonth').attr('value');
            var day = $('#forCurrentDay').attr('value');

            var model = {
                roomId: roomId,
                year: year,
                month: month,
                day: day,
                beginHour: beginHour,
            };

            $.ajax({
                type: "POST",
                data: model,
                dataType: "html",
                url: '@Url.Action("DelReservation", "Home")'
            }).done(function (result) {
                var model2 = {
                    year: year,
                    month: month,
                    day: day
                };

                $.ajax({
                    type: "POST",
                    data: model2,
                    dataType: "html",
                    url: '@Url.Action("Reservations", "Home")'
                }).done(function (result) {
                    $('#content').html(result);
                });

                $('#forCurrentDate').html('На  ' + day + '.' + month + '.' + year);
            });
        });
    });

    $(function() {
        $('#next-column').click(function (event) {
            event.preventDefault();
            $('.table-container').animate({ scrollLeft: '+=100' }, 'fast');
        });
        $('#previous-column').click(function (event) {
            event.preventDefault();
            $('.table-container').animate({ scrollLeft: '-=100' }, 'fast');
        });
    });

    $(document).mouseup(function (e) {
        var container = $(".popover");

        if (!container.is(e.target) // if the target of the click isn't the container...
            && container.has(e.target).length === 0) // ... nor a descendant of the container
        {
            
            //container.hide();
            if ($("div.popover").length > 0)
            {
                debugger;
                $("div.popover").remove()
            }
            
        }
    });
</script>
@Scripts.Render("~/bundles/bootstrap")

