@using Microsoft.AspNet.Identity
@using GreenHouse.Domain.Entities;
@{
    ViewBag.Title = "Reservations";
}
@model Dictionary<Room, IEnumerable<Reservation>>

@Scripts.Render("~/bundles/modernizr")

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <a id="previous-column" href="#"><h4><</h4></a>
                <div class="time-table">
                    <table class="time">
                        @for (int t = ViewBag.BeginHour; t < ViewBag.EndHour; t++)
                        {
                            <tr height ="50px">
                                <td>@t<span>:00</span></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="table-container">
                    <table class="table sliding-window table-header">
                        <tr>
                            @foreach (var room in Model.Keys)
                            {
                                <td><span>K. @room.Number </span></td>
                            }
                        </tr>
                    </table>

                    <table class="table sliding-window" id="resTable">

                        @for (int hour = ViewBag.BeginHour; hour < ViewBag.EndHour; hour++)
                        {
                            <tr>
                                @foreach (var item in Model)
                                {
                                    var res = item.Value.Where(a => a.BeginTime.Hour == hour);
                                    if (res.Count() > 0)
                                    {
                                        <td class="diagram-cell"> 
                                            <span data-toggle="popover" title="" data-content="
                                                    <div class='custompopover'>
                                                    <img src='../../Content/images/icon-user-grey.png'>
                                            @res.First().AspNetUser.UserName<br/>@res.First().Purpose</div>">@res.First().AspNetUser.UserName</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="cell" data-room-id="@item.Key.Id" data-begin-hour="@hour">
                                            @if (Request.IsAuthenticated)
                                            {
                                                <span data-toggle="popover" data-content="<div class='custompopover'><h6>Цель:</h6>
                                                <textarea id='purpose' autofocus cols=31 maxlength=80 rows=3></textarea>
                                                <button id='reservate'>Бронировать</button> </div>">
                                                <img class="icon-add-new-event" src="../../Content/images/icon-add-new-event.png">
                                                </span>
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="col-sm-1">
                <a id="next-column" href="#"><h4>></h4></a>
            </div>
        </div>
    </div>


<script>
    $(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    })
    
    $(function () {
        $("#resTable").delegate('#reservate', 'click', function () {
            var roomId = $("#reservate").closest("td").data("roomId");            
            var beginHour = $("#reservate").closest("td").data("beginHour");
            var year = $('#forCurrentYear').attr('value');
            var month = $('#forCurrentMonth').attr('value');
            var day = $('#forCurrentDay').attr('value');
            
            var model = {
                roomId: roomId,
                year: year,
                month: month,
                day: day,
                beginHour: beginHour,
                purpose: $("#purpose").val()
            };
            
            $.ajax({
                type: "POST",
                data: model,
                dataType: "html",
                url: '@Url.Action("AddReservation", "Home")'
            }).done(function (result) {
                var model2 = {
                    year: year,
                    month: month,
                    day: day
                };
               
                $.ajax({
                    type: "POST",
                    data: model2,
                    dataType: "html",
                    url: '@Url.Action("Reservations", "Home")'
                }).done(function (result) {
                    $('#content').html(result);
                });

                $('#forCurrentDate').html('На  ' + day + '  ' + month + '  ' + year);
            });           
        });
    });
    $(function() {
        $('#next-column').click(function (event) {
            event.preventDefault();
            $('.table-container').animate({ scrollLeft: '+=100' }, 'fast');
        });
        $('#previous-column').click(function (event) {
            event.preventDefault();
            $('.table-container').animate({ scrollLeft: '-=100' }, 'fast');
        });
    });
</script>
@Scripts.Render("~/bundles/bootstrap")

