@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Reservations";
}
@model GreenHouse.Domain.Entities.Reservation[,]

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")



    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <a id="previous-column" href="#"><h4><</h4></a>
                <div class="time-table">
                    <table class="time">
                        @for (int t = 9; t < 22; t++)
                        {
                            <tr height ="50px">
                                <td>@t<span>:00</span></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-sm-10">
                @*<a id="previous-column" href="#">Previous</a>*@
                @*<a id="next-column" href="#">Next</a>*@
                <div class="table-container">
                    <table class="table sliding-window table-header">
                        <tr>
                            @for (int j = 301; j <= 315; j++)
                            {
                                <td><span>K. @j </span></td>
                            }
                        </tr>
                    </table>

                    <table class="table sliding-window">

                        @for (int i = 0; i < Model.GetLength(1); i++)
                        {
                            <tr>
                                @for (int j = 0; j < Model.GetLength(0); j++)
                                {
                                    if (Model[j, i] != null)
                                    {
                                        <td class="diagram-cell">
                                                    <span data-toggle="popover" title="" data-content="
                                        <div class='custompopover'>
                                            <img src='../../Content/images/icon-user-grey.png'>
                                            @Model[j, i].AspNetUser.Email @Model[j, i].AspNetUser.Email<br/>@Model[j, i].Purpose</div>">@Model[j, i].AspNetUser.UserName</span>
                                                </td>
                                    }
                                    else
                                    {
                                        <td id="@i-@j" class="cell">
                                            @if(Request.IsAuthenticated)
                                            {
                                                <span data-toggle="popover" data-content="<div class='custompopover'><h6>Цель:</h6>
                                                <textarea id='purpose' autofocus cols=31 maxlength=80 rows=3></textarea>
                                                <button id='reservate'>Бронировать</button> </div>">
                                                <img class="icon-add-new-event" src="../../Content/images/icon-add-new-event.png">
                                                </span>
                                            }
                                        </td>
                                    }
                                }
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="col-sm-1">
                <a id="next-column" href="#"><h4>></h4></a>
            </div>
        </div>
    </div>


<script>
    $(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    })

    $(function () {
        $("body").delegate('#reservate', 'click', function () {
            var id = $("#reservate").closest("td").attr("id");            
            
            var model = {
                roomAndTime: id,
                currentDate: $("#forCurrentDate").text(),
                purpose: $("#purpose").val()
            };

            $.ajax({
                type: "POST",
                data: model,
                dataType: "html",
                url: '@Url.Action("AddReservation", "Home")'
            })

            var year = @DateTime.Now.Year;
            var month = @DateTime.Now.Month;
            var day = @DateTime.Now.Day;

            var model = {
                Year: year,
                Month: month,
                Day: day
            };

            $.ajax({
                type: "POST",
                data: model,
                dataType: "html",
                url: '@Url.Action("Reservations", "Home")'
            }).done(function (result) {
                $('#content').html(result);
            });
        });
    });
    $(function() {
        $('#next-column').click(function (event) {
            event.preventDefault();
            $('.table-container').animate({ scrollLeft: '+=100' }, 'fast');
        });
        $('#previous-column').click(function (event) {
            event.preventDefault();
            $('.table-container').animate({ scrollLeft: '-=100' }, 'fast');
        });
    });
</script>
@Scripts.Render("~/bundles/bootstrap")

