@using GreenHouse.Domain.Entities;
@using GreenHouse.WebUI.Infrastructure;
@{
    Layout = null;
}
@model IEnumerable<Reservation>

<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a id="previous-column"><h4 style="visibility: hidden"><</h4></a>
            <div class="time-table">
                <table class="time" >
                    @for (int t = ViewBag.BeginHour; t <= ViewBag.EndHour; t++)
                    {
                        <tr>
                            <td class="cell">@t<span>:00</span></td>
                        </tr>
                    }
                </table>
            </div>
        </div>




        <div class="col-sm-11">
            <div class="table-container">
                <table class="table sliding-window table-header" style="width:650px">
                    <tr>
                        
                        <td><span>@ViewBag.Date.Day  @ViewBag.Date.Month @ViewBag.Date.Year</span></td>
                        
                    </tr>
                </table>

                <table class="table sliding-window" id="resTableRoomDay" style="width:650px">

                    @for (int hour = ViewBag.BeginHour; hour < ViewBag.EndHour; hour++)
                    {
                        <tr>
                            @*@foreach (var item in Model)*@
                            @{
                                var res = Model.Where(a => a.BeginTime.Hour == hour);

                                if (res.Count() > 0)
                                {
                                    if (res.First().Purpose == null && res.First().AspNetUser.IsAdmin())
                                    {
                                        <td class="diagram-cell" data-begin-hour="@hour" style="background-color:#d6dddb">

                                            @if (ViewBag.Date.AddHours(hour) > DateTime.Now && Request.IsAuthenticated && String.Compare(User.Identity.Name, res.First().AspNetUser.UserName, true) == 0)
                                            {
                                                <span data-toggle="popover" style="color: #000000" title="" data-content="
                                                    <div class='custompopover'>
                                                        <span><img src='~/../Content/images/icon-unlock-grey.png'>
                                                        <a id='delBlockRoomDay'>Разблокировать</a></span>

                                                        </div>">
                                                        <img src='~/Content/images/icon-lock-grey.png'>
                                                </span>
                                            }
                                            else
                                            {
                                                <img src='~/Content/images/icon-lock-grey.png'>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        if (Request.IsAuthenticated && String.Compare(User.Identity.Name, res.First().AspNetUser.UserName, true) == 0)
                                        {
                                            <td class="diagram-cell" data-begin-hour="@hour" style="background-color:#ffe400; color: black; text-align: left;">
                                                
                                                @res.First().Purpose <br/>
                                                @if (ViewBag.Date.AddHours(hour) > DateTime.Now)
                                                {                                                  
                                                    <div  style="text-align: right;"><a id="delReserv">Отменить</a></div>
                                                }
                                                
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="diagram-cell" style="text-align: left; color: white;">
            
                                            @res.First().Purpose<br />
                                            <img src='~/Content/images/icon-user-white-small.png' style="display: inline-block"> @res.First().AspNetUser.UserName
                                            </td>
                                        }
                                    }

                                }
                                else
                                {
                                    <td style="padding: 0;" class="cell" data-begin-hour="@hour">
                                        @if (Request.IsAuthenticated && ViewBag.Date.AddHours(hour) > DateTime.Now)
                                        {
                                            <div style="height: 100%;" data-toggle="popover" data-content="<div class='custompopover'><h6>Цель:</h6>
                                                <textarea id='purpose' autofocus cols=31 maxlength=50 rows=3></textarea>
                                                @if (User.IsInRole("admin"))
                                                {
                                                    <button id='addBlockRoomDay'><img src='~/Content/images/icon-lock-grey.png'></button>
                                                }
                                                <button id='reservate'>Бронировать</button> </div>">
                                                    <span>
                                                <img style="padding: 12px" class="icon-add-new-event" src="~/Content/images/icon-add-new-event.png">
                                                </span>
                                                </div>
                                        }
                                    </td>
                                }
                            }
                        </tr>
                    }

                </table>
            </div>
        </div>
        @*<div class="col-sm-1">
            <a id="next-column" href="#"><h4>></h4></a>
        </div>*@


    </div>
</div>
<script>
    $(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    })

    $(function () {
        $("#resTableRoomDay").delegate('#reservate', 'click', function () {

            var beginHour = $("#reservate").closest("td").data("beginHour");
            debugger;
            var model = {
                roomNumber: @ViewBag.RoomNumber,
                year: @ViewBag.Date.Year,
                month: @ViewBag.Date.Month,
                day: @ViewBag.Date.Day,
                beginHour: beginHour,
                purpose: $("#purpose").val()
            };

            $.ajax({
                type: "POST",
                data: model,
                dataType: "html",
                url: '@Url.Action("AddReservation", "Room")'
            }).done(function (result) {
                var model2 = {
                    roomNumber: @ViewBag.RoomNumber,
                    year: @ViewBag.Date.Year,
                    month: @ViewBag.Date.Month,
                    day: @ViewBag.Date.Day
                    };

                $.ajax({
                    type: "POST",
                    data: model2,
                    dataType: "html",
                    url: '@Url.Action("RoomDayReservations", "Room")'
                }).done(function (result) {
                    $('#content').html(result);
                });


            });
        });

        $(function () {
            $("#resTableRoomDay").delegate('#delReserv', 'click', function () {
                var beginHour = $("#delReserv").closest("td").data("beginHour");
                debugger;
                var model = {
                    roomNumber: @ViewBag.RoomNumber,
                    year: @ViewBag.Date.Year,
                    month: @ViewBag.Date.Month,
                    day: @ViewBag.Date.Day,
                    beginHour: beginHour
                };

                $.ajax({
                    type: "POST",
                    data: model,
                    dataType: "html",
                    url: '@Url.Action("DelReservation", "Room")'
                }).done(function (result) {
                    var model2 = {
                        roomNumber: @ViewBag.RoomNumber,
                        year: @ViewBag.Date.Year,
                        month: @ViewBag.Date.Month,
                        day: @ViewBag.Date.Day
                    };

                    $.ajax({
                        type: "POST",
                        data: model2,
                        dataType: "html",
                        url: '@Url.Action("RoomDayReservations", "Room")'
                    }).done(function (result) {
                        $('#content').html(result);
                    });

                });
            });
        });

        ///
        $(function () {
            $("#resTableRoomDay").delegate('#addBlockRoomDay', 'click', function () {
                var beginHour = $("#addBlockRoomDay").closest("td").data("beginHour");

                var model = {
                    roomNumber: @ViewBag.RoomNumber,
                    year: @ViewBag.Date.Year,
                    month: @ViewBag.Date.Month,
                    day: @ViewBag.Date.Day,
                    beginHour: beginHour,
                };

                $.ajax({
                    type: "POST",
                    data: model,
                    dataType: "html",
                    url: '@Url.Action("AddBlock", "Room")'
                }).done(function (result) {
                    var model2 = {
                        roomNumber: @ViewBag.RoomNumber,
                        year: @ViewBag.Date.Year,
                        month: @ViewBag.Date.Month,
                        day: @ViewBag.Date.Day
                    };

                    $.ajax({
                        type: "POST",
                        data: model2,
                        dataType: "html",
                        url: '@Url.Action("RoomDayReservations", "Room")'
                    }).done(function (result) {
                        $('#content').html(result);
                    });

                });
            });
        });

        $(function () {
            $("#resTableRoomDay").delegate('#delBlockRoomDay', 'click', function () {
                var beginHour = $("#delBlockRoomDay").closest("td").data("beginHour");
                debugger;
                var model = {
                    roomNumber: @ViewBag.RoomNumber,
                    year: @ViewBag.Date.Year,
                    month: @ViewBag.Date.Month,
                    day: @ViewBag.Date.Day,
                    beginHour: beginHour
                };

                $.ajax({
                    type: "POST",
                    data: model,
                    dataType: "html",
                    url: '@Url.Action("DelReservation", "Room")'
                }).done(function (result) {
                    var model2 = {
                        roomNumber: @ViewBag.RoomNumber,
                        year: @ViewBag.Date.Year,
                        month: @ViewBag.Date.Month,
                        day: @ViewBag.Date.Day
                    };

                    $.ajax({
                        type: "POST",
                        data: model2,
                        dataType: "html",
                        url: '@Url.Action("RoomDayReservations", "Room")'
                    }).done(function (result) {
                        $('#content').html(result);
                    });
                });
            });
        });
    });

</script>
