@using GreenHouse.WebUI.Models
@model GreenHouse.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*@using (Html.BeginForm("LoginActResult", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div >
        <div class="modal-dialog">
            <div class="loginmodal-container" style="background-color: #FFFFFF">
                <div class="login-popup-logo">
                    <img src="~/Content/images/logo-big.png" />
                </div><br>
                <form>                    
                    @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "form-control", @placeholder = "Электронная почта" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.Password, new { @id = "pass", @class = "form-control", @placeholder = "Пароль" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <input type="submit" value="Войти" class="btn btn-default login loginmodal-submit" />
                </form>
            </div>
        </div>
    </div>
}*@

<div id="commonRow"class="container header-image">
    <div class="row">
        <div class="col-xs-12">
            <div class="reserve-form">
                
                <div>
                    <div >
                        @using (Html.BeginForm("LoginActResult", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div >
                                <div >
                                    <div class="loginmodal-container" style="background: 0,0,0,0; box-shadow: 0 0 0 rgba(0, 0, 0, 0)" >
                                        
                                        <form>
                                            @Html.TextBoxFor(m => m.Email, new { @maxlength = "255", @id = "email", @class = "form-control", @placeholder = "Электронная почта" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            @Html.PasswordFor(m => m.Password, new { @maxlength = "16", @id = "pass", @class = "form-control", @placeholder = "Пароль" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                            @Html.ValidationSummary(true, "", new { @id = "valSummaryLogin", @class = "text-danger" })

                                            <input type="submit" value="Войти" class="btn btn-default login loginmodal-submit" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#commonRow").click(function () {
        $("#valSummaryLogin").text("");
    });
</script>