@using GreenHouse.WebUI.Models
@model GreenHouse.WebUI.Models.LoginViewModel

@using (Ajax.BeginForm("Login", "Account", new AjaxOptions { OnSuccess = "OnSuccessLogPopup" }))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="login-popup-logo">
                    <img src="~/Content/images/logo-big.png" />
                </div><br>
                <form>
                    @Html.TextBoxFor(m => m.Email, new { @maxlength = "255", @id = "email", @class = "form-control", @placeholder = "Электронная почта", })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.Password, new { @maxlength = "16", @id = "pass", @class = "form-control", @placeholder = "Пароль" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div id="result" class="text-danger" style="color : red; margin-left: 60px; margin-top: 10px"></div>
                    <input type="submit" value="Войти" class="btn btn-default login loginmodal-submit" />
                    @*<input type="submit" name="login" class="login loginmodal-submit" value="Войти">*@
                </form>


                <div class="login-help">
                    <a id="log-reg-link" data-toggle="modal" data-dismiss="modal" data-target="#reg-modal">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function OnSuccessLogPopup(data) {
        debugger;
        if (data == 'OK') {
            // data.redirect contains the string URL to redirect to
            window.location.href = '@Url.Action("Index", "Home")';
        }
        else {
            // data.form contains the HTML for the replacement form
            $("#result").text(data);
        }
    }

    $("#login-modal").click(function () {
        $("#result").text("");
    });
</script>
